[all:vars]
ansible_ssh_common_args=-o ProxyCommand="sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'\""
ansible_user=ubuntu
ansible_private_key_file=../terraform/cloud-1-key-pair.pem

[instance]
instance1 ansible_host=